.notes-container {
  width: 200px;
  display: flex;
  flex-direction: column;

  .notes-header {
    padding-block: 10px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
  }
}
