@use "./components/mixins" as *;

:root {
  font-family: var(--font-family-text);
  font-size: var(--body-font-size);
  line-height: 24px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  color: var(--text-primary);
  user-select: revert;
  background-color: var(--solid-background-base);
}

#app {
  flex: 1;
  display: flex;
}
